
<table class="table table-striped">
        <tr>
            <th>№ п/п</th>
            <th>Наименование показателя</th>
            <th>12-ф прибыль</th>
            <th>4-ф затраты</th>
            @* <th>Транспорт нефти</th>
            <th>Транспорт нефтепродуктов</th>
            <th>ПЭТФ</th>
            <th>Опт нефть</th>
        @foreach (var nam in ViewBag.listfil)
            {
                <th>@nam.Filial</th>
            }            
        </tr> *@
       @*  @{
            int count = 1;
        }
        @foreach (var it in item.list)
        {
            decimal itog = 0;
            <tr>
                <td>@count</td>
                <td>@it.expense</td>
                @foreach (var i in it.spis)
                {
                    <td>@i.value</td>
                    itog = itog + @i.value;
                }
                <td>@itog</td>
                @{
                    count++;
                }
            </tr>
        } *@
        @{
            int count = 1;
        }
        @foreach (var item in ViewBag.listf4Prim)
        {
            @* @if (item.Id != 1)
            {
            <tr>
                <td>@count</td>
                <td>@item.Name</td>                    
                <td>@item.Summa</td>
                <td>@item.Summa4F</td>

            </tr>
            }
            else
            {
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td>X</td>
                <td>@item.Summa4F</td>

            </tr>
            }
            
                count++;  *@
            @if (item.Id == 1)
            {
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td>X</td>
                <td>@item.Summa4F</td>

                </tr>
            }
            else if (item.Id == 2 || item.Id == 3 || item.Id == 4 || item.Id == 5 || item.Id == 34)
            {
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td>@item.Summa</td>
                <td>X</td>

                </tr>
            }
            else
            {
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td>@item.Summa</td>
                <td>@item.Summa4F</td>

            </tr>
            }
            count++;
        }
    </table>


