@foreach (var item in ViewBag.listufGroupFil)
{
    <center><b>@item.filialse</b></center>
    <table class="table table-striped">
        <tr>
            <th>№ п/п</th>
            <th>Наименование показателя</th>
            @foreach (var nam in item.plansp)
            {                
                    <th>@nam.planspis</th>
            }
            <th>Итого</th>
        </tr>
        @{
            int count = 1;
         }
    @foreach(var it in item.list)
        {
            decimal itog = 0;                  
            <tr>
                <td>@count</td>
                <td>@it.expense</td>
                @foreach(var i in it.spis)
                {
                    <td>@i.value</td>    
                       itog = itog + @i.value;                    
                }
                <td>@itog</td>
                @{
                count++;
            }
            </tr>
        }

    </table>
    }

